
html{

  background-image: url("samolot.jfif");
  background-repeat: no-repeat;
   background-position: center;
  background-size: cover;
  height: 100%;
  background-color: orangered;
}
#tytul{
  font-size: 48px;
  font-family: Corbel;
  color: navy;
  text-align: center;

}
a{
  background-color: black;
  color: whitesmoke;
  font-family: Ebrima;
  font-size: 15px;
  border: none;
  alignment: center;
  margin-left: 45%;
  cursor: pointer;
  text-decoration: none;
  border: whitesmoke;
  height: 10%;
  width: 20%;
}

body{
  display: table;
  flex-wrap: initial;
  height: 100%;
  width: 100%;


}
.karta{
  width: 100%;
  height: 100%;
  background-color: deepskyblue;
  font-family: "Courier New";
  font-size: 12px;
  margin-top: 2%;
  margin-bottom: 2%;
}
nav{
overflow-x: hidden;
}



#container{
  height: auto;
  width: 80%;
  margin-left: 10%;
  background-color: transparent;

}
footer{
  background-color: black;
  color: whitesmoke;
  font-size: 18px;
  font-family: "Droid Sans";
  width: 20%;


}
.zdjecie{
  height: 80%;
  width: 70%;
  alignment: center;
  margin-left: 15%;


}
.tytul{
  alignment: center;


}
table{
  border: 1px solid black;


}
img{
  alignment: center;

  border-collapse: initial;

}
